body {
	font-family: 'Roboto', sans-serif;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
}

a:visited {
	text-decoration: none;
	color: #1976d2;
}

a {
	text-decoration: none;
}

.react-datepicker-wrapper {
	width: auto;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.birth-date {
	margin-right: 1px;
}

.employee-infos {
	margin-bottom: 15px;
}

.employee-adress {
	margin-top: 10px;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
	z-index: -1 !important;
}
